.o_field_lf_code_ghost {
    display: block !important;
    width: 100% !important;

    .o_ace_view_editor {
        width: 100% !important;
    }

    .ace-view-editor {
        width: 100% !important;
        min-height: 200px;
    }
}
